@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Koulen', 'IBM Sans Thai', sans-serif;
}

/* ฟอนต์ Koulen สำหรับภาษาอังกฤษ */
@font-face {
  font-family: 'Koulen';
  src: url('/path/to/koulen.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ฟอนต์ IBM Plex Sans Thai สำหรับภาษาไทย */
@font-face {
  font-family: 'IBM Plex Sans Thai';
  src: url('/path/to/ibm_plex_sans_thai.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans Thai';
  src: url('/path/to/ibm_plex_sans_thai_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

.tag-menu {
  padding: 5px;
  background: #fbfbfb;
  color: #c5c5c5;
  text-align: center;
  border-radius: 5px;
}


