@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Koulen', 'IBM Sans Thai', sans-serif;
}

/* ฟอนต์ Koulen สำหรับภาษาอังกฤษ */
.font-english {
  font-family: 'Koulen';
  src: url('/path/to/koulen.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.font-thai {
  font-family: 'IBM Plex Sans Thai';
  src: url('/path/to/ibm_plex_sans_thai_bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.font-thaibold {
  font-family: 'IBM Plex Sans Thai';
  src: url('/path/to/ibm_plex_sans_thai_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

.tag-button {
  padding: 10px;
  justify-items: center;
  min-width: 250px;

  text-align: center;
  color: #caccda;
  font-family: Koulen;
  font-size: 30px;

  background-color: #423835;

  border: 2.5px;
  border-style: solid;
  border-color: #caccda;
  border-radius: 20px;
}

.tag-button-hover {
  padding: 10px;
  justify-items: center;
  min-width: 250px;

  text-align: center;
  color: #423835;
  font-family: Koulen;
  font-size: 30px;

  background-color: #caccda;

  border: 2.5px;
  border-style: solid;
  border-color: #252525;
  border-radius: 20px;
}

.tag-tab {
  background-color: #37302F;
}